version: "3.8"

services:
  db:
    image: postgres:16
    container_name: pagila_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/pagila-schema.sql:/docker-entrypoint-initdb.d/pagila-schema.sql
      - ./docker/pagila-data.sql:/docker-entrypoint-initdb.d/pagila-data.sql
      - ./docker/init-pagila.sh:/docker-entrypoint-initdb.d/init-pagila.sh

volumes:
  pgdata:
